
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

header {
    background: url('https://img.freepik.com/vetores-gratis/fundo-de-particula-de-tecnologia-de-estilo-realista_23-2148426704.jpg') no-repeat center center/cover; 
    color: white;
    text-align: center;
    padding: 60px 0;
}

header h1 {
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
}

.cta {
    display: inline-block;
    padding: 10px 20px;
    background: white;
    color: #5c2e91;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

nav {
    background: #5c2e91; 
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 10px 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

h2 {
    color: #5c2e91; 
    margin-bottom: 10px;
}

.profile-pic {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 15px 0;
}

.service, .portfolio-item {
    background: #f4f4f4;
    margin: 15px 0;
    padding: 20px;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
}

form input, form textarea {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px;
    background: #5c2e91;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background: #4a2272;
}

#redes-sociais {
    text-align: center;
    padding: 20px;
    background: #f4f4f4;/
    border-radius: 8px;
    margin: 20px 0;
}

.social-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-link {
    text-decoration: none;
    color: #5c2e91; 
    font-size: 1.5em; 
    margin: 10px 0;
    display: flex;
    align-items: center; /
    transition: color 0.3s;
}

.social-link:hover {
    color: #4a2272; 
}

.social-icon {
    width: 24px; 
    height: 24px;
    margin-right: 8px;

}
#agradecimento {
    text-align: center;
    padding: 20px;
    background: white;
    margin: 20px 0;
}

.thank-you-image {
    max-width: 200%;
    height: auto;
    margin-top: 15px;
    display: block;
    margin-left: auto; 
    margin-right: auto; 
}

